.underConstructionPage{
    background-image: url('../assets/pageNotFound/page-not-found.svg');
    height: 89vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5rem;
}