.jobs-section{
    display: flex;
    margin:1.5rem 15vw;
    gap: 1rem;
    height: auto;
    
}
.jobs-section section{
    /* background-color: #fff; */
    height: auto;
    border-radius: 15px;

}
.jobs-section-left{
    flex: 1;
}
.jobs-section-mid{
    flex: 2.5;
}
.jobs-section-right{
    flex: 1;
}
.job-sidebar-feature{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 1.2rem 2rem;
    text-decoration: none;
    color: #666666;
}
.jobs-section-left a :hover{
    text-decoration: underline !important;
    color: #262626 !important;
}
.jobs-section-left > div{
    background-color: #fff;
    border-radius: 15px;
    height: auto;
    padding: 1.5rem 0;
}

.jobs-section-right div{
    background-color: #fff;
    border-radius: 15px;

    padding: 1rem 1rem;
}
.jobs-section-right div h3{
    font-weight: 500;
    margin: 0;
}
.jobs-section-right div p{
    color: #666666;
    font-size: 0.9rem;
}

.jobs-section-mid{
    display: flex;
    flex-direction: column;
}
.recent-jobs-container{
    background-color: #fff;
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 15px;
}
.recent-jobs-container h3{
    margin: 0;
    font-weight: 500;
    margin-bottom: 0.7rem;
}
.recent-jobs a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.recent-job-title{
    color: black;
    font-size: 0.9rem;
}
.recent-job-type{
    color: #666666;
    font-size: 0.8rem;
}












@media (max-width:850px){
    .jobs-section-right{
        display: none;
    }
}