.newsCard {
  width: 20vw;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  padding: 1rem 0;
  padding-bottom: 0;
  > button {
    border: none;
    background-color: transparent;
    color: #ddd;
    font-weight: 600;
    font-family: inherit;
    font-size: 15px;
    margin: 0.75rem 0 0.75rem 1.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    width: fit-content;
    display: flex;
    align-items: center;
  }
  /* > button:hover {
    background-color: #575c60;
  } */
}

.newsCardHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0.5rem;
  > i {
    font-size: 12px;
    font-weight: bolder;
    color: #1b1f23;
    background-color: #ddd;
    padding: 0 5px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
  }
}

.newsCardList {
  > div {
    padding: 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    > section {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      > svg {
        font-size: 6px;
        font-weight: bold;
      }
    }
    > p {
      color: #ffffff99;
      font-weight: normal;
      font-size: 13px;
      margin-left: 1rem;
    }
  }
  /* > div:hover {
    background-color: #575c60;
    width: 100%;
  } */
}

.iCardTextHolder {
  position: absolute;
  background-color: #1b1f23;
  width: 22vw;
  padding: 0.5rem;
  border: 1px solid #ffffff3a;
  border-radius: 0.5rem;
  display: none;
  font-weight: 400;
  right: 13%;
  top: 9%;
  > p > span {
    color: #039de5;
    cursor: pointer;
  }
  > svg {
    cursor: pointer;
  }
}

