:root{
  --blue:#0a66c2;
}

.signUpPage {
  background-color: #eee;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  color: var(--blue);
  font-size: 18px;
  padding-top: 1rem;
  padding-left: 10rem;
  > h1 {
    cursor: pointer;
  }
}

.signUpFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  flex: 1;
}

.signUpFormContainer h1 {
  font-weight: 400;
  margin-top: 0.5rem;
}

.signUpPage form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 28%;
  gap: 5px;
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.5rem;
}

.signUpFormContainer form > input {
  padding: 0.45rem;
  border-radius: 0.25rem;
  border: 1px solid #333;
  width: 100%;
}

.signUpFormContainer form > input:focus {
  outline: none;
}

.signUpFormContainer label[for="passWord"],
.signUpFormContainer label[for="mailOrPhone"] {
  margin-top: 0.75rem;
}

.passWordContainer {
  display: flex;
  border: 1px solid #333;
  border-radius: 0.25rem;
  >button{
    color: var(--blue);
    font-weight: 500;
  }
}

.passWordContainer input {
  flex: 1;
  border: none;
  padding: 0.45rem;
  border-radius: 0.25rem;
}

.passWordContainer input:focus {
  outline: none;
}

.passWordContainer button {
  border: none;
  background-color: transparent;
  padding: 0.45rem;
}

.termsAndConditions {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.termsAndConditions a {
  text-decoration: none;
  margin: 0 3px;
  color: var(--blue);
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.buttons button {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  font-size: 15px;
}

.or {
  display: flex;
  align-items: center;
  gap: 10px;
}

.or span {
  background-color: #ddd;
  height: 1px;
  width: 100%;
}

.signInLink {
  text-align: center;
}

.signInLink a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
  margin: 0 5px;
}

.error {
  color: red;
  font-size: 12px;
}

@media screen and (width<=600px) {
  .headerContainer{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 8px;
  }
  .signUpFormContainer{
    gap: 0.5em;
  }
  .signUpFormContainer h1{
    font-size: 20px;
    font-weight: 600;
  }

  .signUpPage form{
    width: 100%;
    padding: 10px;
  }
  .signUpPage{
    background-color: #fff;
  }
}

@media screen and (600px<width<=1000px) {
  .signUpPage form{
    width: 80%;
  }
}

@media screen and (1000px<width<=1200px) {
  .signUpPage form{
    width: 60%;
  }
}