.navBar {
  display: flex;
  justify-content: center;
    font-size: 0.75rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    border-bottom: 1px solid #ffffff35;
    >section{
      display: flex;
      justify-content: space-between;
      width: 80vw;
    }
  }
  .logoSearchBar {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 0.5rem;
    padding: 0.5rem;
    > svg {
      cursor: pointer;
    }
  }

  @media screen and (width<=1100px) {
    .navBar>section{
      width: 90vw;
    }    
    .logoSearchBar{
      gap: 5px;
    }
  }


  

  