:root {
    --bg-blue: #039de5;
    --border-grey: #1b1f23;
    --font-light: #ffffff99;
  }
  
  .accountProfileCard {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.75rem;
  }
  
  .profilePicContainer {
    background: url("../../assets/coverPicture/LinkedIn-Default-Background.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 2rem;
    height: 25vh;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 4rem;
    > div {
      position: relative;
      top: 4rem;
      width: 10rem;
      > img {
        width: 100%;
        border-radius: 50%;
        outline: 4px solid var(--border-grey);
      }
    }
  }
  
  .personalInformationContainer {
    display: flex;
    padding: 0 2rem 0;
    > div {
      display: flex;
      gap: 10px;
      flex-direction: column;
      flex: 3;
      >h2{
        font-weight: 600;
      }
    }
    /* .collegeContainer {
      display: flex;
      flex-direction: row;
      flex: 1;
      > div {
        width: 4.5rem;
        > img {
          width: 100%;
        }
      }
      > p {
        font-weight: 600;
        font-size: 14px;
      }
    } */
  }
  
  .address {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    gap: 5px;
    > p:last-child {
      color: var(--bg-blue);
      font-weight: 600;
      cursor: pointer;
    }
  }
  
  .followersAndConnections {
    color: var(--bg-blue);
    font-weight: 600;
  }
  
  .followersAndConnections {
    display: flex;
    gap: 5px;
    font-size: 14px;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    >p::after{
      content: " |";
    }
  }
  
  .buttonsContainer {
    display: flex;
    gap: 10px;
    padding-left: 2rem;
    margin-top: 1rem;
    > button {
      padding: 0.5rem 0.75rem;
      border-radius: 2rem;
      font-family: inherit;
      font-weight: 600;
      display: flex;
      gap: 5px;
      align-items: center;
      &:first-child {
        background-color: var(--bg-blue);
        border: 2px solid var(--bg-blue);
      }
      &:last-child {
        background-color: transparent;
      }
      &:nth-child(2) {
        border: 2px solid var(--bg-blue);
        color: var(--bg-blue);
        background-color: transparent;
      }
    }
  }