.analyticsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 0.75rem;
    > div {
      display: flex;
      gap: 10px;
      align-items: center;
      > p:first-child {
        font-weight: 600;
        font-size: 14px;
      }
      > p:nth-child(2) {
        color: gray;
        font-size: 12px;
        font-weight: 500;
      }
    }
  
    > a {
      color: rgb(177, 177, 177);
      font-weight: 600;
      &:hover {
        color: #039de5;
        text-decoration: underline;
      }
    }
  }